#playerinput {
    font-size: xx-large;
}

input {
    font-size: xx-large;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(178, 211, 255);
}

p {
    font-size: xx-large;
}

.inputfield {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: xx-large;
}

button {
    font-size: x-large;
}

#playGameResult {
    font-size: xx-large;
}

#displayComputerChoice {
    font-size: xx-large;
}

.bottomResults {
    display: flex;
    align-items: center;
    
}

.bottom {
    display: flex;
    gap: 200px;
}